
<main>
  <p>Search the character in the below search box to find the characters with that name. If the character with that name is found, you can click on the name to see the details of that character.</p>
  
  <form method="post" action="/search" id="characterSearch">
    <label id="charname-label">Character Name:
      <input
      id="character-Search"
      type="text"
      name="searchTerm"
      placeholder="Character Name"
    />
    </label>
    
    <button type="submit" id="search-button">Search</button>
   
  </form>
</main>